<!-- might have to change the src links for css and images  -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/home2.css" />
    <link rel="stylesheet" href="/stylesheets/photos.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <title>Photo Gallery-Page</title>
  </head>
  <body>
    <header>
      <!-- HeaderSection starts here -->
      <!-- Nav-Bar Section -->
      <a href="index.html"
        ><img
          class="navbar-logo"
          src="/Pictures/Logo1.png"
          alt="Cherries On Top Logo"
        />
        <h1 class="home-title">Cherries On Top</h1></a
      >
      <nav class="stroke">
        <ul>
          <li><a href="index.html">Home</a></li>
          <!-- <li><a href="Photos.html">Photos</a></li> -->
          <li><a href="Services.html">Services</a></li>
          <li><a href="index.html#newsletter">Subscribe</a></li>
          <li><a href="form.html"> Contact</a></li>
        </ul>
      </nav>
      <!-- NavBar Section Ends Here -->
    </header>
    <!-- Header Section Ends Here -->
    <!-- main section begins here -->
    <div class="container">
      <div class="heading">
        <h3>Photo<span> Gallery</span></h3>
      </div>
      <div class="box">
        <div class="img-holder">
          <img src="/Pictures/IMG_3575.jpg" />
          <img src="/Pictures/IMG_3812.jpg" />
          <img src="/Pictures/IMG_3813.jpg" />
          <img src="/Pictures/IMG_3814.jpg" />
          <img src="/Pictures/IMG_3882.jpg" />
          <img src="/Pictures/IMG_3883.jpg" />
          <img src="/Pictures/menu item4.jpeg" />
          <img src="/Pictures/pic15.jpeg" />
          <img src="/Pictures/pic20.jpeg" alt="" />
        </div>
        <div class="img-holder">
          <img src="/Pictures/IMG_4975.jpg" />
          <img src="/Pictures/IMG_5135.jpg" />
          <img src="/Pictures/IMG_5292.jpg" />
          <img src="/Pictures/menu item 2.jpeg" />
          <img src="/Pictures/menu item1.jpeg" />
          <img src="/Pictures/menu item3.jpeg" />
          <!-- <img src="/Pictures/menu item5.jpeg" /> -->
        </div>
        <div class="img-holder">
          <img src="/Pictures/menu item6.jpeg" />
          <img src="/Pictures/menu item7.jpeg" />
          <img src="/Pictures/menu item8.jpeg" />
          <img src="/Pictures/menu item9.jpeg" />
          <img src="/Pictures/pic10.jpeg" />
          <img src="/Pictures/pic12.jpeg" />
          <img src="/Pictures/pic13.jpeg" />
          <img src="/Pictures/pic23.jpeg" alt="" />
        </div>
      </div>
      <!-- <hr class="bottom-line" /> -->
      <div class="btn">
        <a href="Img-slider.html"><button>Load More</button></a>
      </div>
    </div>
    <!-- footer section -->
    <div class="footer">
      <div class="inner_footer">
        <div class="logo_container">
          <img src="/Pictures/Logo1.png" alt="logo" />
        </div>
        <div class="footer_third">
          <h1>Need Help?</h1>
          <a href="#">FAQ</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms &amp; Conditions</a>
        </div>
        <div class="footer_third">
          <h1>More</h1>
          <a href="#">Photo-Gallery</a>
          <a href="#">Contact Us</a>
          <a href="#">NewsLetter</a>
        </div>
        <div class="footer_third">
          <h1>Socials</h1>
          <li>
            <a href="#"
              ><i class="fa-brands fa-facebook" style="color: #c9af93"></i>
              Facebook
            </a>
          </li>
          <li>
            <a href="#"
              ><i class="fa-brands fa-instagram" style="color: #c9af93"></i>
              Instagram
            </a>
          </li>
          <li>
            <a href="#"
              ><i class="fa-brands fa-tiktok" style="color: #c9af93"></i>
              TikTok
            </a>
          </li>
          <span>
            © CherriesOnTop All Rights Reserved, CherriesOnTop Chester<br />
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
