body {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
 
}

/* hero section css */
.main__container{
  margin-top:20px ;
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}
.main__content{
  width: 60%;
  margin: 160px auto 0;
  text-align: center;
  color: white;
  }
.main__content h1{
  font-size: 4rem;
  color: #fff;
  font-weight: 30px;
 }
 .main__container p {
  width:80%;
  margin: 20px auto 100px;
  font-weight: 100;
  line-height: 25px;
  color: #fff;
 }
 button{
  width: 200px;
  padding: 15px 0; 
  text-align: center;
  margin: 0 10px; 
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #C9AF93;
  background: #C9AF93;
  color: #fff;
  cursor: pointer;
  transition:  background 0.5s ease;;
}
button:hover{
  background: transparent;
  border: 2px solid #C9AF93;
}
.overlay{
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  /* background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)); */
}
.slider{
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  animation: slide 10s infinite;
}
#slideImg{
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: zoom 3s linear infinite;
}

@keyframes zoom {
  0%{
      transform: scale(1.2);
  }
  15%{
      transform: scale(1);
  }
  85%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.2);
  }
}
.btn-text{
  color: white;
  text-decoration: none;
}

/* mobile responsive  */
@media screen and (max-width:1130px) {
  .main__container p {
    font-size: 1rem;
    width:90%;
    margin: 20px auto 70px;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
   }
  
}
@media screen and (max-width: 972px) {
  .main__content{
    margin-top: 80px;
   
  }
  .main__content h1{
    font-size: 4rem;
    color: #fff;
    font-weight: 30px;
   }
   .main__container p {
    font-size: 1rem;
    width:90%;
    margin: 20px auto 50px;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
   }
  button{
    margin-top: 5px;
  }
  @media screen and (max-width: 785px) {
    .main__content h1{
      font-size: 3rem;
      font-weight: 30px;
     }
  }
  
  @media screen and (max-width: 582px) {
    .main__container p {
      font-size: 1rem;
      width:90%;
      margin: 20px auto 35px;
      font-weight: 100;
      line-height: 25px;
      color: #fff;
     } 
    
  }
}
@media screen and (max-width:499px) {
  .main__content h1{
    margin-left:0px;
    font-size: 2rem;
    color: #fff;
    font-weight: 30px;
    line-height: 30px;
   }
}
@media screen and (max-width : 420px) {
  .main__content{
    margin-top: 30px;
  }
  .main__container{
    height: 80vh;
  }
  .main__content h1{
    margin-left:0px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 30px;
    line-height: 30px;
   }
   .main__container p {
    font-size: 1rem;
    width:90%;
    margin: 20px auto 50px;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
   }
  button{
    margin-top: 5px;
  }
}
@media screen and (max-width:432px) {
  .main__content h1{
    margin-left:0px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 30px;
    line-height: 30px;
   }
   .main__container p {
    font-size: 1rem;
    width:90%;
    margin: 20px auto 50px;
    font-weight: 100;
    line-height: 25px;
    color: #fff;
   }
  
}
@media screen and (max-width:375px){
  .main__container p {
    margin: 20px auto 35px;
  }
  .main__container{
    height: 80vh;
  }
  
  
}