*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}
.home-title{
  font-family: 'Style Script', cursive;
}
.hero{
  height: 100%;
  width: 100%;
  /* min-height: 100vh; */
  background-color: rgb(0,0 ,0 ,0.0);
 
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 8rem;
}
section{
  padding: 0 19% ;
}
.hero-text h5{
  font-size: 14px;
  font-weight: 400;
  color: #4E231C;
  margin-bottom: 40px;
  
}
.hero-text h1{
  font-size: 90px;
 font-family: 'style script', cursive;
 line-height: 1;;
  color: #4E231C;
  margin: 0 0 50px 0px;
}
.hero-text h4{
  font-size: 18px;
  font-weight: 600;
  color: #4E231C;
  margin-bottom: 10px;
  margin-top: 80px;
}
.hero-text p{
  font-size: 15px;
  line-height: 1.9;
  font-weight: 400;
  color: #4E231C;
  margin-bottom: 40px;
}
.hero-img img {
  width: 800px;
  height: 700px;
  color: #4E231C;
}
button{
  width: 200px;
  padding: 15px 0; 
  text-align: center;
  margin: 0 10px; 
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #D6809B;
  background: #D6809B;
  color: #fff;
  cursor: pointer;
  transition:  background 0.5s ease;;
}
button:hover{
  background: transparent;
  border: 2px solid #D6809B;
}
.btn-text{
  color: #fff;
}
.icons{
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);
}
.icons i{
  display: block;
margin: 26px 0;
font-size: 24px;
color: #D6809B;
transition: all 0.5s ease;
}
.icons i:hover{
  color: #4E231C;
  transform: translateY(-10px);
}
.scroll-down{
  position: absolute;
  bottom: 6%;
  right: 9%;
}
.scroll-down i{
  font-size: 25px;
  color: #D6809B;
  display: block;
  padding: 12px;
  border-radius: 30px;
  background: #fff;
  transition: all;
}
.scroll-down i:hover{
  transform: translateY(-10px);
  background: #D6809B;
  color: #fff;
}
 video{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;

  z-index: -1;
}

@media(min-aspect-ratio: 16/9){
video{
    width: 100%;
    height: auto;
  }
}
  @media(min-aspect-ratio: 16/9){
    video{
        width: auto;
        height: 100%;
      }

  
}
.filter-svg{
  /* filter: invert(85%) sepia(63%) saturate(2142%) hue-rotate(288deg) brightness(97%) contrast(84%); */

}