
body{
  background-image: url(/Pictures/thousands-of-sprinkle-ice-cream-toppings-pastel-with-a-light-pastel-color-scheme-as-the-background--837752408.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: fixed;
  height: 120vh;
  width: 100%;

}
.example{
  height: 100vh;
  width: 50%;
  background-color: bisque;
}