body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.services {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.services h1 {
  font-size: 3rem;
  color: #4E231C;
  font-weight: 30px;
  margin-bottom: 2rem;
}

.services__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services__card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/Public/Pictures/pic10.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: #FEFAE0;
  cursor: pointer;
}

.services__card:nth-child(2) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/Public/Pictures/pic23.jpeg');
}

.services__card:nth-child(3) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url('/Public/Pictures/pic12.jpeg');
}

.services__card h4 {
  position: absolute;
  color: #FEFAE0;
  bottom: 70px;
  margin-left: 1rem;
}

.services__card p {
  position: absolute;
  color: #FEFAE0;
  bottom: 30px;
  margin-left: 1rem;
}

.services__card h4:hover {
  transform: scale(1.075);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
  .services h1 {
    font-size: 2.5rem;
  }

  .services__card {
    width: 350px;
  }
}

/* Alert that pops up */
.alert {
  padding: 20px;
  background-color: #AD865C;
  color: white;
}
 